body {
	background-image: url("../images/COMountain.jpg");
	background-repeat: no-repeat;
	background-size: 100%;

}

@import url(http://fonts.googleapis.com/css?family=Rokkitt);
 h1 {
    font-family: 'Architects Daughter', cursive;
    text-align: center;
 	font-weight: bold;
}
ul {
    list-style: none;
}
li {
    font-family: 'Architects Daughter', cursive;
    font-size: 2em;
}
input[type=radio] {
    border: 0px;
    width: 20px;
    height: 1em;
}
p {
    font-family: 'Architects Daughter', cursive;
}
/* Quiz Classes */
 .quizContainer {
    background-color: rgba(169, 197, 242, .75);
    border-radius: 6px;
    width: 75%;
    margin: auto;
    padding-top: 15px;
    position: relative;
}
.nextButton {
    box-shadow: 3px 3px 5px #888;
    border-radius: 6px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #f8f9ac;
    /*clear: both;*/
    color: red;
    font-family: 'Architects Daughter', cursive;
    position: relative;
    margin: auto;
    padding-top: 10px;
    padding-left: 10px;
}
.question {
    font-family: 'Architects Daughter', cursive;;
    font-size: 2em;
    width: 90%;
    height: auto;
    margin: auto;
    border-radius: 6px;
    background-color: #f8f9ac;
    text-align: center;
}
.quizMessage {
    background-color: peachpuff;
    border-radius: 6px;
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 2px;
    font-family: 'Architects Daughter', cursive;;
    color: red;
}
.choiceList {
    font-family: Courier, serif;
    color: #001f51;
}
.result {
    width: 30%;
    height: auto;
    border-radius: 6px;
    background-color: linen;
    margin: auto;
    text-align: center;
    font-family: 'Architects Daughter', cursive;;
}
/* End of Quiz Classes */